#idform::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: black;
	opacity: 1; /* Firefox */
  }
@media (max-width: 767px) {
	#panelmap{
	    width: 90vw;
		height: 75vh;
		background-color: gainsboro;
	  }
}

	  





















